:root{
    --main-bg-color: #1e1e1e;
    --main-theama-color: #b30021;
}
body.bodystyle{
    font-family: 'Open Sans', 'Note Serif JP';
    background-color: var(--main-bg-color);
    color: #ffffff;
}

#navbar{
    width: 100%;
    background-color: var(--main-bg-color);
}

#navitem{
    text-align: left;
    padding-left: 15px;
    font-size: 2vh;
    color: #ababab;
}

.jumbotron{
    -webkit-text-stroke: 2px #FFF;
    text-align: center;
    background: url(../images/kagoshima_wava.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 96vh;
    margin-bottom: 0px;
}

#jumbotron-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}


#AboutMe{
    width: 100%;
}
div#center{
    text-align: center;
}

.Category{
    font-size: 50px;
    margin: 20px;
    text-align: left;
}

.Item{
    font-size: 40px;
    text-align: center;
    margin: 15px;
}

#card{
    padding: 4px;
    padding-bottom: 10px;
    background-color: var(--main-bg-color)
}
.border{
    border 2px;
    color: black;
}

.box{
    background-color: black;
    border: 5px red;
    padding: 0px;
}

strong#year{
    font-weight: 700;
}

/*.cardbtn{
    background-color: var(--main-theama-color);
    font-color: white;
}*/

textarea {
    /*https://www.freecodecamp.org/forum/t/solved-how-to-make-a-text-field-responsive/73747/6*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    }

#submit_button{
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.2em;
    #background-color: var(--main-bg-color);
    color: #fff;
    border-style: none;
}

.footer{
    margin-top: 80px;
    font-color: black;
}

#header-img{
    width: 100%;
    height: 100%%;
}
