:root{
    --main-bg-color: #1e1e1e;
    --main-theama-color: #b30021;
}
body.bodystyle{
    font-family: 'Open Sans', 'Note Serif JP';
    font-size: 2vh;
    background-color: var(--main-bg-color);
    color: #ffffff;
}

#navbar{
    width: 100%;
    background-color: var(--main-bg-color);
}

#navitem{
    text-align: left;
    padding-left: 1vh;
    font-size: 3vh;
    color: #ababab;
}

.jumbotron{
    -webkit-text-stroke: 2px #FFF;
    text-align: center;
    background: url(../images/hanamiyama.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    margin-bottom: 0px;
}
#titlename{
    font-size: 10vh !important;
}

#jumbotron-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

#AboutMe{
    width: 100%;
}
h2{
    font-size: 4vh;
}
div#center{
    text-align: center;
    max-width: 100%;
}

.Category{
    font-size: 50px;
    margin: 20px;
    text-align: left;
    font-size: 7vh;
}

.Item{
    font-size: 7vh;
    text-align: center;
    margin: 15px;
}

#card{
    padding: 4px;
    padding-bottom: 10px;
    background-color: var(--main-bg-color)
}
.border{
    border 2px;
    color: black;
}

.box{
    background-color: black;
    border: 5px red;
    padding: 0px;
}

strong#year{
    font-weight: 700;
}

.footer{
    margin-top: 80px;
    font-color: black;
    font-size: 1vh;
}
